{#
    By default, forms enable client-side validation. This means that you can't
    test the server-side validation errors from the browser. To temporarily
    disable this validation, add the 'novalidate' attribute:

    {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
#}

{{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="submit" name="save" value="{{ button_label|default('label.create_post'|trans) }}"
           class="{{ button_css|default("btn btn-primary") }}" />

    {% if is_granted('publish', post) %}
            <input type="submit" name="publish" value="{{ 'label.publish_post'|trans }}"
                   class="{{ button_css|default("btn btn-success") }}" />
    {% endif %}

    {% if post.state is constant('STATUS_DRAFT', post) %}
        <input type="submit" name="review" value="{{ 'label.review_post'|trans }}"
               class="{{ button_css|default("btn btn-success") }}" />
    {% endif %}

    <a href="{{ path('admin_post_index') }}" class="btn btn-link">
        {{ 'action.back_to_list'|trans }}
    </a>

{{ form_end(form) }}

<input type="file" name="upload[file]" id="upload_file" accept="image/*" class="hidden"/>

<script>
    document.querySelector('#upload_file').addEventListener('change', function(e) {
        var formData = new FormData();
        formData.append("upload[file]", this.files[0]);
        this.value = null;

        var xhr = new XMLHttpRequest();
        xhr.open('POST', "{{ path('image_upload') }}", true);

        xhr.onload = function() {
            if (this.status == 200) {
                var response = JSON.parse(this.response);
                var image =  response.image;
                $('.mce-btn.mce-open').parent().find('.mce-textbox').val(image).closest('.mce-window').find('.mce-primary').click();
            } else {
                alert('File has not been uploaded');
            }
        };

        xhr.send(formData);
    }, false);

    function callback_tinymce_init(editor) {
        editor.settings.file_browser_callback = function(field_name, url, type, win) {
            if (type == 'image') {
                $('#upload_file').click();
            }
        }
    }
</script>

{{ tinymce_init() }}